<div class="container">
    <section class="app-moviesgrid mt-3">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-12" *ngFor="let movie of movies">
                <div class="card app-moviesgrid__movie p-3 mb-3">
                    <img [src]="'./assets/img/movies/' + movie.image"
                        [alt]="movie.title"
                        class="rounded app-moviesgrid__movieImage"
                        role="button"
                        aria-label="Click to see more details about this movie"
                        (click)="selectMovie()"
                        loading="lazy">
                    <!--<i class="bi bi-bag-heart"></i>-->
                    <h2 class="app-moviesgrid__movieTitle mt-2">{{ movie.title }}</h2>
                    <p class="app-moviesgrid__movieDescription m-0">Genre: {{ movie.genre }}</p>
                    <p class="app-moviesgrid__movieDescription m-0">Release: {{ movie.releasedDate }}</p>
                    <app-starrating [ratings]="movie.rating"></app-starrating>
                </div>
            </div>
        </div>
    </section>
</div>
